*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'proxima-nova', sans-serif;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    background-color: white;
    border-bottom: 1px solid rgb(128, 128, 128);
    position: sticky;
    top: 0;
    z-index: 10;
  }

  /* nav */
  .Instagram {
    height: 40px;
  }
  
  .Instagram img {
    height: 100%;
  }
  
  #icon {
    border-right: 1.3px solid rgb(145, 145, 145);
    height: 100%;
    margin-right: 10px;
    padding-right: 15px;
  }
  
  #logo {
    padding-top: 5px;
  }
  
  .search {
    width: 250px;
    background-color: rgb(252, 252, 252);
    display: flex;
    align-items: center;
    border-radius: 5px;
    border: 1.5px solid rgb(209, 209, 209);
  }
  
  .search:focus {
    outline: none;
    background-color: white;
  }
  
  .search input {
    height: 30px;
    width: 130px;
    border-radius: 5px;
    margin-left: 5px;
    border: none;
    outline: none;
    background-color: rgb(252, 252, 252);
    font-size: 15px;
  }
  
  #magnifying_glass {
    margin-left: 90px;
    width: 15px;
    color: rgb(177, 177, 177);
  }
  
  .nav-top {
    display: flex;
  }
  
  #explore {
    height: 30px;
  }
  
  #like {
    height: 30px;
    padding-left: 30px;
  }
  
  #profile {
    height: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
  
  /* post */
  .post {
    margin: 25px 5%;
    background-color: white;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 3px;
    min-width: 600px;
  }
  
  .post1 {
    display: flex;
    align-items: center;
    padding: 10px;
  }
  
  .post1-profile {
    display: flex;
    align-items: center;
    padding-right: 5px;
  }
  
  .details {
    margin-left: 10px;
  }
  
  .post1-profile img {
    border-radius: 50%;
    object-fit: cover;
    width: 40px;
    height: 40px;
    margin-right:15px;
  }
  
  .insta_post img {
    width: 100%;
    object-fit: cover;
    object-position: left center;
  }
  
  .post1-interaction {
    display: flex;
    justify-content: space-between;
    padding: 15px 10px 10px 15px;
  }
  
  .post_icons img {
    height: 20px;
    width: 20px;
    margin-right: 15px;
  }
  
  .bookmark img {
    height: 20px;
    width: 15px;
    margin-right: 15px;
  }
  
  .details {
    padding: 0 10px 10px 10px;
  }
  
  .details p {
    margin-bottom: 5px;
  }
  
  .hashtag {
    color: #24669b;
  }
  
  .likes {
    font-size: 15px;
  }
  
  .username {
    font-size: 16px;
    margin-top: 3px;
  }
  
  .time {
    font-size: 15px;
    margin-top: 10px;
    color: grey;
  }
  
  hr {
    height: 1px;
    background-color: #ccc;
    border: none;
  }
  
  .comment {
    padding: 14px 24px 24px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .comment input {
    display: flex;
    align-items: center;
    width: 100%;
    outline: none;
    border: none;
  }
  
  .left_side {
    width: 70%;
    float: left;
  }
  
  .suggestions_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px;
    padding-bottom: 5px;
  }
  
  .suggestions_for_you {
    font-size: 15px;
    font-weight: 600;
    color: rgb(145, 145, 145);
  }
  
  .see_all {
    font-size: 12px;
    font-weight: 600;
    color: rgb(75, 180, 250);
    /* padding-top: 10px;
    padding-left: 20px; */
  }
  
  .suggestions_box {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  .content {
    display: block;
    position: relative;
    min-width: 170px;
    max-width: 170px;
    margin: 15px;
    width: 30%;
    background-color: white;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 3px;
  }
  
  .image {
    padding: 60px;
    padding-top: 18px;
    padding-bottom: 20px;
    object-fit: cover;
    
  }
  
  .image img {
    border-radius: 50%;
    object-fit: contain;
    object-fit: cover;
  }
  
  .barney1_name_check {
    margin-left: 33%;
    display: flex;
    align-items: center;
  }
  
  .barney2_name_check {
    margin-left: 27%;
    display: flex;
    align-items: center;
  }
  
  .barney3_name_check {
    margin-left: 27%;
    display: flex;
    align-items: center;
  }
  
  .name_check {
    display: flex;
    align-items: center;
    text-align: center;
  }
  
  .check {
    background-color: white;
    margin-bottom: 5px;
  }
  
  .name {
    padding-bottom: 5px;
    padding-right: 5px;
  }
  
  .followed_by {
    text-align: center;
    font-size: 12px;
    color: gray;
    padding-bottom: 10px;
  }
  
  .follow_btn {
    border-radius: 3px;
    text-align: center;
    width: 70%;
    background-color: rgb(0, 150, 255);
    color: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 15%;
    font-family: 'proxima-nova', sans-serif;
    font-size: 13px;
    border: 1px;
    margin-bottom: 20px;
  }
  
  .follow_btn:hover {
    background-color: rgb(0, 100, 165);
    color: #fff;
    cursor: pointer;
  }
  
  .right_column {
    position: relative;
    left: 15px;
    /* bottom: 80px; */
    float: left;
    width: 300px;
    height: 450px;
    margin: 10px;
    padding: 10px 10px 10px 10px;
  }
  
  .user_img {
    width: 50px;
    border-radius: 50%;
    display: inline-block;
  }
  
  .user_username {
    position: relative;
    bottom: 25px;
  }
  
  .user_name {
    position: relative;
    font-family: 'proxima-nova', sans-serif;
    font-size: 12px;
    color: rgb(150, 150, 150);
    right: 80px;
    bottom: 10px;
    display: inline-block;
  }
  
  .story {
    display: block;
    border-top: 1px solid gray;
    /* margin-top: 10px; */
    padding-top: 10px;
    color: rgb(120, 120, 120);
    font-size: 15px;
    font-weight: bold;
  }
  
  .watch_all {
    position: relative;
    float: right;
    font-size: 12px;
    color: rgb(50, 50, 50);
    font-weight: bold;
    bottom: 15px;
    letter-spacing: 0.3px;
    font-family: 'proxima-nova', sans-serif;
  }
  
  .stories {
    width: 300px;
    height: 250px;
    overflow: scroll;
    border-bottom: 1px solid gray;
  }
  
  .story_div {
    padding-left: 10px;
    padding-bottom: 10px;
  }
  
  .story_img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid transparent;
    background: linear-gradient(45deg, yellow, red) border-box;
  }
  
  .story_username {
    position: relative;
    bottom: 25px;
  }
  
  .timestamp {
    font-size: 10px;
    color: rgb(140, 140, 140);
    position: relative;
    right: 60px;
    bottom: 10px;
  }
  
  .footer {
    padding-top: 10px;
    padding-right: 70px;
  }
  
  a {
    padding-right: 2px;
    color: rgb(190, 190, 190);
    font-size: 12px;
    letter-spacing: 0.5px;
    text-decoration: none;
  }
  
  .copyright {
    margin-top: 20px;
    color: rgb(190, 190, 190);
    display: block;
    font-size: 12px;
    letter-spacing: 0.3px;
  } 

  /* responsiveness */
  @media screen and (max-width: 760px) {
    .suggestions, .right_column {
        display: none;
    }
    .Instagram {
        height: 30px;
    }
      
    .Instagram img {
        height: 100%;
    }

    #explore {
        height: 20px;
    }
      
    #like {
        height: 20px;
        padding-left: 10px;
    }
      
    #profile {
        height: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }

}
